PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/vetpro?schema=public"
JWT_SECRET="vetpro_super_secret_signing_key_2026_dev"
NODE_ENV=development

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-app-password-16-caracteres
SMTP_FROM="VetPro SaaS" <tu-correo@gmail.com>
APP_URL=http://localhost:4201
